<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service.Name" value="PLC176" />
    <!-- Descrição visível no Services.msc -->
    <add key="Service.Description" value="Um teste do driver de plc" />
    <add key="PLC.Id" value="176" />
    <add key="Timers.FlushMeasuresMs" value="300" />
    <add key="Timers.PollWritesMs" value="500" />
    <add key="Writes.Enabled" value="true" />
    <add key="Timers.ReconnectInitialMs" value="2000" />
    <add key="Timers.ReconnectMaxMs" value="60000" />
    <add key="ItemId.Prefix" value="" />
    <add key="ItemId.Separator" value="." />
    <add key="ItemId.Suffix" value="" />
    <add key="ItemId.UseBrackets" value="false" />
    <!-- === LOGS === -->
    <!-- Pasta onde os logs de arquivo serão gravados. Se vazio, usa %PROGRAMDATA%\OPCDAService\logs -->
    <add key="Logs.Path" value="C:\Temp\OpcDaLogs" />
    <!-- Grava também no Event Viewer (Application) -->
    <add key="Logs.WriteEventViewer" value="true" />
    <!-- === HEALTH === -->
    <add key="Health.Enabled" value="true" />
    <add key="Health.LogIntervalMs" value="30000" />
  </appSettings>
  <connectionStrings>
    <add name="Connection_AssetManager" connectionString="Data Source=IEAU-ES-NBA03\SQLEXPRESS;Initial Catalog=Route;User ID=sa;Password=Sql@sapo;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="WriteReadContext" connectionString="Data Source=IEAU-ES-NBA03\SQLEXPRESS;Initial Catalog=Route;User ID=sa;Password=Sql@sapo;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>