<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectDB" lockItem="false" connectionString="Server=WINDEV2407EVAL\SQLEXPRESS;uid=sa; pwd=Sql@sapo; Database=Route;"/>
  </connectionStrings>
  <appSettings>
    <add key="Rate" value="1000"/>
    <add key="CaminhoLog" value="C:\Log.txt"/>
    <add key="ServiceName" value="Rateio - Simulação"/>
    <add key="DisplayName" value="Rateio - Simulação"/>
    <add key="Description" value="Executa storage procedure com parametros"/>
    <add key="NameSp" value="Sp_SvcSimu"/>
    <!-- no máximo 5 parâmetros -->
    <add key="Par1" value=""/>
    <add key="ParVal1" value=""/>
    <add key="Par2" value=""/>
    <add key="ParVal2" value=""/>
    <add key="Par3" value=""/>
    <add key="ParVal3" value=""/>
    <add key="Par4" value=""/>
    <add key="ParVal4" value=""/>
    <add key="Par5" value=""/>
    <add key="ParVal5" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
