<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Connection_AssetManager" connectionString="server=NATHALIASARTORI\SQLEXPRESS;database=Route;uid=sa;pwd=Sql@sapo01" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="server=NATHALIASARTORI\SQLEXPRESS;database=Aspnet_User;uid=sa;pwd=Sql@sapo" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="1" />
    <add key="RouteParentId" value="214" />
    <add key="txtAsset1" value="" />
    <add key="txtRadioButton" value="" />
    <add key="cbDischarge" value="" />
    <add key="cbBoarding" value="" />
    <add key="Filter1" value="Pier1" />
    <add key="Filter2" value="Pier2" />
    <add key="Filter3" value="Manob/Limp" />
    <add key="Filter4" value="" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>