<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Connection_AssetManager" connectionString="Data Source=ps-mscs-sql.ta-vale.corp.br;Initial Catalog=AssetManager;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=ps-mscs-sql.ta-vale.corp.br;Initial Catalog=Aspnet_User;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Connection_AssetManager" connectionString="server=IEAU-ES-NBA17\SQLEXPRESS;database=Route;uid=sa;pwd=Sql@sapo" providerName="System.Data.SqlClient" />
    <!--<add name="Connection_AssetManager" connectionString="Data Source=locahost;Initial Catalog=Route;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="server=IEAU-ES-NBA17\SQLEXPRESS;database=Aspnet_User;uid=sa;pwd=Sql@sapo" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ParentId" value="5366" />
    <add key="ApplicationId" value="2" />
    <add key="LocationId" value="1" />
    <add key="IsRead" value="1" />
    <add key="IsWrite" value="1" />
    <add key="IsToLog" value="1" />
    <add key="IsAutoReset" value="1" />
    <add key="CycleAutoReset" value="1" />
    <add key="DisplayName" value="OpcClientService_1" />
    <add key="ServiceName" value="OpcClientService_1" />
    <add key="Description" value="Cliente OPC para atualizacao do banco de dados" />
    <add key="IniTopic" value="" />
    <add key="FimTopic" value="." />
    <add key="IP" value="12.0.0.1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>