<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service.Name" value="Vale.OPCDA.Driver" />
    <add key="PLC.Id" value="176" />

    <add key="Timers.FlushMeasuresMs" value="300" />
    <add key="Timers.PollWritesMs" value="500" />
    <!-- Habilitar/desabilitar polling da tabela rTagWrite -->
    <add key="Writes.Enabled" value="true" />

    <add key="Timers.ReconnectInitialMs" value="2000" />
    <add key="Timers.ReconnectMaxMs" value="60000" />

    <add key="ItemId.Prefix" value="" />
    <add key="ItemId.Separator" value="." />
    <add key="ItemId.Suffix" value="" />
    <!-- Para Matrikon: false (sem colchetes); para RSLinx: true (com colchetes) -->
    <add key="ItemId.UseBrackets" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="Connection_AssetManager"
         connectionString="Data Source=DESKTOP-DHAIT0O\SQLEXPRESS;Initial Catalog=Route;User ID=sa;Password=Sql@sapo;MultipleActiveResultSets=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
    <add name="WriteReadContext"
         connectionString="Data Source=DESKTOP-DHAIT0O\SQLEXPRESS;Initial Catalog=Route;User ID=sa;Password=Sql@sapo;MultipleActiveResultSets=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
