<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Será sobrescrito por argumento --name ou variável VALE_OPC_SERVICE_NAME -->
    <add key="Service.Name" value="Vale.OPCDA.Driver.PLC1" />

    <!-- Timers (ms) -->
    <add key="Timers.FlushMeasuresMs" value="300" />
    <add key="Timers.PollWritesMs" value="500" />
    <add key="Timers.ReconnectInitialMs" value="2000" />
    <add key="Timers.ReconnectMaxMs" value="60000" />

    <!-- Montagem do ItemID -->
    <add key="ItemId.Prefix" value="" />
    <add key="ItemId.Separator" value="." />
    <add key="ItemId.Suffix" value="" />
  </appSettings>

  <connectionStrings>
    <add name="Connection_AssetManager" connectionString="Data Source=SERVER_SQL;Initial Catalog=AssetManager;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
