<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Identifica o serviço (já usado pelo seu código) -->
    <add key="Service.Name" value="Vale.OPCDA.Driver" />

    <!-- === NOVO: ID do PLC (nó raiz em rTagGroup com parentid = NULL) === -->
    <add key="PLC.Id" value="176" />

    <!-- Timers -->
    <add key="Timers.FlushMeasuresMs" value="300" />
    <add key="Timers.PollWritesMs" value="500" />
    <add key="Timers.ReconnectInitialMs" value="2000" />
    <add key="Timers.ReconnectMaxMs" value="60000" />

    <!-- Composição do ItemId -->
    <add key="ItemId.Prefix" value="" />
    <add key="ItemId.Separator" value="." />
    <add key="ItemId.Suffix" value="" />
  </appSettings>

  <connectionStrings>
    <!-- EXEMPLO: atualize de acordo com o seu ambiente -->
    
    <add name="WriteReadContext"
         connectionString="data source=DESKTOP-DHAIT0O\SQLEXPRESS;initial catalog=AssetManager;integrated security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>